<div class = "row-fluid">
	<div class = "span12">

		<div class = "row-fluid">

		<div class = "span6">
			<div class = "row-fluid">
				<div class = "span12">
					<!-- Image (1,1) goes here -->
					<img id = "image1"></img>
				</div>
				<div class = "span12">
					<!-- Description (1,1) goes here -->
					<p id = "text1"></p>
				</div>
			</div>
		</div>

		<div class = "span6">
			<div class = "row-fluid">
				<div class = "span12">
					<!-- Image (1,2) goes here -->
					<img id = "image2"></img>
				</div>
				<div class = "span12">
					<!-- Description (1,2) goes here -->
					<p id = "text2"></p>
				</div>
			</div>
		</div>

		<div class = "row-fluid">

		<div class = "span6">
			<div class = "row-fluid">
				<div class = "span12">
					<!-- Image (2,1) goes here -->
					<img id = "image3"></img>
				</div>
				<div class = "span12">
					<!-- Description (2,1) goes here -->
					<p id = "text3"></p>
				</div>
			</div>
		</div>

		<div class = "span6">
			<div class = "row-fluid">
				<div class = "span12">
					<!-- Image (2,2) goes here -->
					<img id = "image4"></img>
				</div>
				<div class = "span12">
					<!-- Description (2,2) goes here -->
					<p id = "text4"></p>
				</div>
			</div>
		</div>

	</div>
</div>