/*
Cascading Style Sheet
Nutmeg

HFID - 2013Fall
 */

body {
	font: Helvetica, Verdana, Arial sans-serif;
	margin: 0;
	padding: 0;
	font-size: 0.8em;
}
 .body_center {
 	position : absolute;
 	margin : 0 auto;	
 	top : 200px;
 	left : 12%;
 	background : white;
 	width: 75%
; 	height: 100%;
 }

 .header {
 	position:absolute;
 	background:white;
 	top: 200px;
 	left : 12%;
 	width:75%;
 	height:150px;
 	top: 50px;
 	z-index: 1;
 }

.header_image {
	float:left;	
	height:150px;
	width:auto;
}

.header_title {
	position:absolute;
	top: 0px;
	width: auto;
	z-index: 2;
}
